includeConfig "$baseDir/params.config"

process.container = 'biocorecrg/c4lwg-2018:latest'
singularity.cacheDir = "$baseDir/singularity"

profiles {
  crg {
     process {
        container = 'biocorecrg/debian-perlbrew:buster'
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null} 
        memory='0.6G'
        cpus='1'
        time='1h'
        queue='biocore-el7,long-centos79,short-centos79'
        withLabel: 'fourcpus' {
            memory='32G'
            cpus='8'
        }
      }
   }
} 
